.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.parallax__container {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parallax__label {
  font-size: 28px;
  margin: 20vh 0 30px 0;
  letter-spacing: 6px;
  color: #72b2ff;
}

.parallax__label {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.parallax__label hr {
  margin: 0 30px 0 30px;
  width: 70px;
  border: solid 1px #72b2ff;
}

/* .parallax__label::before {
  flex:  0 0 70px;
  content: '';
  margin: 0px 30px 0px 0px;
  background-color: #72b2ff;
  height: 2px;
}

.parallax__label::after {
  flex:  0 0 70px;
  content: '';
  margin: 0px 0px 0px 30px;
  background-color: #72b2ff;
  height: 2px;
} */

.parallax__title {
  text-align: center;
  font-size: 88px;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}

.images-parallax {
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__space,
.images-parallax__stars {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.images-parallax__space {
  background: url('../img/space.jpg') top / cover no-repeat;
  top: 0;
}

.images-parallax__stars {
  background: url('../img/space-hd.png') top / cover no-repeat;
  top: 0;
  z-index: 2;
}


.content {
  position: absolute;
  z-index: 2;
  left: 15%;
  right: 0;
  top: 0;
  bottom: 0;
}

.content__container {}

.content__title {
  font-size: 60px;
  margin: 15% 0px 30px 0px;
}

.content__title>span {
  border-bottom: 3px solid #fff;
}

.content__text {
  font-size: 30px;
  line-height: 150%;
  margin: 0px 0px 30px 0px;
}

.content__email {
  color: #72b2ff;
}

.content__status {
  color: orange;
}

.content__text a {
  color: #72b2ff;
}

.content__text a:hover {
  border-bottom: 2px solid #72b2ff;
}

